@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body, header, #intro{
    height: 100%;
}

#intro{
    background-color: #9ad3de;
}

.head{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: medium;
}